@page "/workouts"
@inject BlazorHybrid.ViewModels.WorkoutViewModel WorkoutViewModel

<h1 class="mb-8 text-3xl font-extrabold text-start">Your Workouts</h1>

@if (WorkoutViewModel.Workouts?.Any() == true)
{
    <ul>
        @foreach (var workout in WorkoutViewModel.Workouts)
        {
            <li>@workout.Name - @workout.Description</li>
        }
    </ul>
}
else
{
    <p class="p-3 font-bold text-center text-red-600 bg-red-300 rounded-lg shadow">No workouts found.</p>
}
