@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject UserState UserState

<div class="flex flex-col min-h-screen bg-gray-100">
    <header class="fixed top-0 z-50 w-full">
        <TopNavMenu />
    </header>

    <main class="flex-grow mt-14">
        @Body
    </main>

    @if (UserState.IsLoggedIn && !ShouldHideFooter())
    {
        <footer class="fixed bottom-0 z-50 w-full">
            <BottomNavMenu />
        </footer>
    }
</div>

@code {
    private bool ShouldHideFooter()
    {
        // Check if the modal is open
        if (UserState.IsModalOpen)
        {
            return true;
        }

        // Check if the current page is in the list of pages where the footer should be hidden
        var currentUri = NavigationManager.Uri.Replace(NavigationManager.BaseUri, "").TrimEnd('/');
        var pagesToHideFooter = new[] { "login", "register", "forgot-password", "verify" };
        return pagesToHideFooter.Any(page => currentUri.StartsWith(page, StringComparison.OrdinalIgnoreCase));
    }

    protected override void OnInitialized()
    {
        // Subscribe to UserState changes
        UserState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        // Unsubscribe from UserState changes
        UserState.OnChange -= StateHasChanged;
    }

}
