@page "/workouts"
@inject BlazorHybrid.ViewModels.WorkoutViewModel WorkoutViewModel
@{
    string btnPrimary="px-2 py-2 rounded-lg shadow text-white font-bold bg-purple-700";
}

<div class="p-5">
    <div class="flex items-center justify-between mb-8">
        <h1 class="text-3xl font-extrabold text-start">Your Workouts</h1>
        <button class="flex items-center gap-2 @btnPrimary p-4"
                @onclick="WorkoutViewModel.NavigateToAddWorkout">
            <i class="fa-solid fa-plus"></i>
            <span class="hidden md:inline-block">Add Workout</span>
        </button>
    </div>

    @if (WorkoutViewModel.Workouts?.Any() == true)
    {
        <ul class="space-y-4">
            @foreach (var workout in WorkoutViewModel.Workouts)
            {
                <li class="flex items-center justify-between p-4 bg-gray-100 rounded-lg shadow-md hover:bg-gray-200">
                    <div>
                        <h2 class="text-lg font-bold">@workout.Name</h2>
                        <p class="text-sm text-gray-600">@workout.Description</p>
                        <p class="text-xs text-gray-500">Created: @workout.DateCreated.ToShortDateString()</p>
                    </div>
                    <div class="flex items-center gap-2">
                        <button class="px-3 py-1 text-white bg-green-500 rounded-lg shadow hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-50"
                                @onclick="() => WorkoutViewModel.NavigateToDetails(workout.Id)">
                            <i class="fa-solid fa-eye"></i> <span class="hidden md:inline">View</span>
                        </button>
                        <button class="px-3 py-1 text-white bg-yellow-500 rounded-lg shadow hover:bg-yellow-600 focus:outline-none focus:ring-2 focus:ring-yellow-400 focus:ring-opacity-50"
                                @onclick="() => WorkoutViewModel.NavigateToEdit(workout.Id)">
                            <i class="fa-solid fa-edit"></i> <span class="hidden md:inline">Edit</span>
                        </button>
                        <button class="px-3 py-1 text-white bg-red-500 rounded-lg shadow hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-400 focus:ring-opacity-50"
                                @onclick="() => WorkoutViewModel.DeleteWorkout(workout.Id)">
                            <i class="fa-solid fa-trash"></i> <span class="hidden md:inline">Delete</span>
                        </button>
                    </div>
                </li>
            }
        </ul>
    }
    else
    {
        <p class="p-5 font-bold text-center text-red-600 bg-red-300 rounded-lg shadow">No workouts found.</p>
    }
</div>

@code {
    protected override void OnInitialized()
    {
        WorkoutViewModel.LoadWorkouts();
    }
}
